*{
    font-family: Vazirmatn FD;
    direction: rtl;
}
table{
    width: 100%;
text-align: center;
}
#box1{
    border: 1px solid rgb(206, 204, 204);
    background-color: orange;
    text-align: center;
}
#box{
    border: 1px solid white;
    text-align: center;
}
tr:nth-child(even){
    background-color: rgb(228, 228, 228);
}
.box3{
    height: 80px;
}
.box3>div{
    float: right;
}